.main {
  background-color: $content;
  @include box-sizing(border-box);
  width: 991px;
  margin: 0 auto;
  padding: 10px 27px 20px;
  border-width: 0 1px 1px;
  border-style: solid;
  border-color: $border;
  @include border-radius(0 0 3px 3px);

  .container {
    @include clearfix;
    @include box-sizing(border-box);
    width: 920px;
    padding: 11px;
    margin: 0 auto;
    border: 1px solid $border;
    @include border-radius(3px);
  }

  .footer-main {
    color: #979393;
    margin-top: 37px;

    a {
      color: #979393;
    }
  }
}

.banner-index {
  
}

.aside-login {
  font-family: $Bebas-Neue;
  @include box-sizing(border-box);
  width: 205px;
  line-height: 27px;
}

.aside-login-label {
  color: $themes;
  font-size: 19px;
  display: block;
  margin: 5px 0;
}

.aside-login-link {
  color: $themes;
  font-family: $Corbel;
  font-size: 11px;
  line-height: 15px;
}

.aside-input {
  line-height: 29px;
  height: 29px;
  @include border-radius(3px);
  border: 1px solid $border;
  width: 131px;
  padding: 0 12px;
}

.aside-login-content {
  background-color: $gray-brown;
  padding: 5px 10px 10px ;
  margin-top: 12px;

  .btn {
    font-family: $Bebas-Neue;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 1px;
    margin: 17px 0 6px;
    display: inline-block;
    float: left;
  }

  .btn + .btn {
    margin-left: 3px;
  }
}

.products-card {
  color: #fff;
  font-family: $Bebas-Neue;
  @include box-sizing(border-box);
  width: 680px;
  margin-top: 10px;
  padding: 9px;
  border: 1px solid $border;
  @include border-radius(3px);
}

.product-detail {
  background-color: #fff;
  font-family: $Bebas-Neue;
  @include box-sizing(border-box);
  width: 680px;
  margin-top: 10px;
  padding: 9px;
  border: 1px solid $border;
  @include border-radius(3px);  
}

.payment-form-table {
  background-color: #fff;
  width: 100%;
  border: 2px solid $border;
  border-top: 0;

  .payment-form-header {
    text-align: center;
    line-height: 97px;

    img {
      vertical-align: middle;
    }
  }

  .payment-form-forms {
    height: 211px;
    padding-bottom: 26px;
  }

  .payment-form-header, .payment-form-forms {
    border-left: 2px solid $border;

    &:first-child {
      border-left: 0;
    }
  }

  span {
    font-family: $Bebas-Neue;
    font-size: 22px;
    line-height: 36px;
    width: 124px;
    margin: 0 auto;
    display: table;
  }
}

.payment-form-actions {
  height: 58px;
  line-height: 58px;
  padding: 0 15px;
  border-top: 2px solid $border;

  .btn {
    margin-left: 10px;
  }
}