$red-mid: #ae0405;
$red-hard: #55090a;

$noise-bg: #f6f8eb;

$section-title: #c1ab89;
$menu-inner: #e2d7aa;

$btn-ok: #08960b;
$btn-bg: #c1c6c1;
$shopping: #e67102;

$content: #f6f8eb;
$gray-brown: #d7d1b8;

$border: #dbdcda;
$product-hr: #e9e3e3;

$themes: #6b430b;

$gray-dark: #333;

$Bebas-Neue: Bebas Neue;
$Corbel: Corbel;