/* line 13, ../sass/helpers/_mixins.scss */
.ellipsis, .mugs-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 17, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Corbel";
  src: url('/resources/fonts/corbel-webfont.eot');
  src: url('/resources/fonts/corbel-webfont.eot?#iefix') format('eot'), url('/resources/fonts/corbel-webfont.ttf') format('truetype'), url('/resources/fonts/corbel-webfont.woff') format('woff'), url('/resources/fonts/corbel-webfont.svg') format('svg');
}

@font-face {
  font-family: "Bebas Neue";
  src: url('/resources/fonts/bebasneue-webfont.eot');
  src: url('/resources/fonts/bebasneue-webfont.eot?#iefix') format('eot'), url('/resources/fonts/bebasneue-webfont.ttf') format('truetype'), url('/resources/fonts/bebasneue-webfont.woff') format('woff'), url('/resources/fonts/bebasneue-webfont.svg') format('svg');
}

@font-face {
  font-family: "Lucida Sans";
  src: url('/resources/fonts/lsans-webfont.eot');
  src: url('/resources/fonts/lsans-webfont.eot?#iefix') format('eot'), url('/resources/fonts/lsans-webfont.ttf') format('truetype'), url('/resources/fonts/lsans-webfont.woff') format('woff'), url('/resources/fonts/lsans-webfont.svg') format('svg');
}

/* line 14, ../sass/core/_core.scss */
body {
  font-family: "Lucida Sans";
  background-image: url('/resources/images/backgrounds/pattern-bg.png?1384546166');
}

/* line 19, ../sass/core/_core.scss */
a {
  text-decoration: none;
}

/* line 23, ../sass/core/_core.scss */
.pull-left {
  float: left;
}

/* line 27, ../sass/core/_core.scss */
.pull-right {
  float: right;
}

/* line 1, ../sass/components/_backgrounds.scss */
.banner-home {
  position: relative;
  top: 9px;
}

/* line 1, ../sass/components/_brands.scss */
.brand-189px {
  width: 189px;
  height: 145px;
}

/* line 6, ../sass/components/_buttons.scss */
.btn {
  display: inline-block;
  font-size: 18px;
  font-family: Bebas Neue;
  line-height: 26px;
  cursor: pointer;
  padding: 0 10px;
  background-repeat: repeat no-repeat !important;
  border-radius: 3px;
  margin: 2px;
  position: relative;
  overflow: hidden;
  border: 1px solid #cdcdcd;
  color: #333333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  box-shadow: inset 0 1px 0 #f5f5f5, inset 0 -1px 0 #d7d7dc;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebebed), color-stop(100%, #e6e6e9));
  background-image: -webkit-linear-gradient(#ebebed, #e6e6e9);
  background-image: -moz-linear-gradient(#ebebed, #e6e6e9);
  background-image: -o-linear-gradient(#ebebed, #e6e6e9);
  background-image: linear-gradient(#ebebed, #e6e6e9);
}
/* line 27, ../sass/components/_buttons.scss */
.btn:hover, .btn:focus {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e6e6e9), color-stop(100%, #d8d8d8));
  background-image: -webkit-linear-gradient(#e6e6e9, #d8d8d8);
  background-image: -moz-linear-gradient(#e6e6e9, #d8d8d8);
  background-image: -o-linear-gradient(#e6e6e9, #d8d8d8);
  background-image: linear-gradient(#e6e6e9, #d8d8d8);
  box-shadow: inset 0 1px 0 #f5f5f5, inset 0 -1px 0 #c5c5c5;
}
/* line 32, ../sass/components/_buttons.scss */
.btn:active {
  color: #111;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e6e6e9), color-stop(100%, #ebebed));
  background-image: -webkit-linear-gradient(#e6e6e9, #ebebed);
  background-image: -moz-linear-gradient(#e6e6e9, #ebebed);
  background-image: -o-linear-gradient(#e6e6e9, #ebebed);
  background-image: linear-gradient(#e6e6e9, #ebebed);
  box-shadow: inset 0 1px 0 #d7d7dc, inset 0 -1px 0 #f5f5f5;
}
/* line 38, ../sass/components/_buttons.scss */
.btn > input[type="file"] {
  position: absolute;
  background: red;
  width: 400%;
  height: 104px;
  top: -38px;
  left: -118px;
  opacity: 0;
  cursor: pointer;
}

/* line 50, ../sass/components/_buttons.scss */
.btn-canecaria {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #7D0304;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 #7d0304;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ae0405), color-stop(100%, #55090a));
  background-image: -webkit-linear-gradient(#ae0405, #55090a);
  background-image: -moz-linear-gradient(#ae0405, #55090a);
  background-image: -o-linear-gradient(#ae0405, #55090a);
  background-image: linear-gradient(#ae0405, #55090a);
}
/* line 59, ../sass/components/_buttons.scss */
.btn-canecaria:hover, .btn-canecaria:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 #7d0304;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #55090a), color-stop(100%, #ae0405));
  background-image: -webkit-linear-gradient(#55090a, #ae0405);
  background-image: -moz-linear-gradient(#55090a, #ae0405);
  background-image: -o-linear-gradient(#55090a, #ae0405);
  background-image: linear-gradient(#55090a, #ae0405);
}
/* line 64, ../sass/components/_buttons.scss */
.btn-canecaria:active {
  color: #FCBCBE;
  box-shadow: inset 0 1px 0 #7d0304, inset 0 -1px 0 rgba(255, 255, 255, 0.2);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #860304), color-stop(100%, #7a0d0e));
  background-image: -webkit-linear-gradient(#860304, #7a0d0e);
  background-image: -moz-linear-gradient(#860304, #7a0d0e);
  background-image: -o-linear-gradient(#860304, #7a0d0e);
  background-image: linear-gradient(#860304, #7a0d0e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4aa5ae', endColorstr='#6cb9c1',GradientType=0);
}

/* line 72, ../sass/components/_buttons.scss */
.btn-ok {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #056507;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75), inset 0 -1px 0 rgba(0, 0, 0, 0.27);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #07960a), color-stop(100%, #07960a));
  background-image: -webkit-linear-gradient(#07960a, #07960a);
  background-image: -moz-linear-gradient(#07960a, #07960a);
  background-image: -o-linear-gradient(#07960a, #07960a);
  background-image: linear-gradient(#07960a, #07960a);
}
/* line 82, ../sass/components/_buttons.scss */
.btn-ok:hover, .btn-ok:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75), inset 0 -1px 0 rgba(0, 0, 0, 0.27);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #07960a), color-stop(100%, #07960a));
  background-image: -webkit-linear-gradient(#07960a, #07960a);
  background-image: -moz-linear-gradient(#07960a, #07960a);
  background-image: -o-linear-gradient(#07960a, #07960a);
  background-image: linear-gradient(#07960a, #07960a);
}
/* line 87, ../sass/components/_buttons.scss */
.btn-ok:active {
  color: #079a0a;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75), inset 0 -1px 0 rgba(0, 0, 0, 0.27);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #07960a), color-stop(100%, #07960a));
  background-image: -webkit-linear-gradient(#07960a, #07960a);
  background-image: -moz-linear-gradient(#07960a, #07960a);
  background-image: -o-linear-gradient(#07960a, #07960a);
  background-image: linear-gradient(#07960a, #07960a);
}

/* line 94, ../sass/components/_buttons.scss */
.centered-buttons {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

/* line 1, ../sass/components/_containers.scss */
.main {
  background-color: #f6f8eb;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 991px;
  margin: 0 auto;
  padding: 10px 27px 20px;
  border-width: 0 1px 1px;
  border-style: solid;
  border-color: #dbdcda;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
/* line 12, ../sass/components/_containers.scss */
.main .container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 920px;
  padding: 11px;
  margin: 0 auto;
  border: 1px solid #dbdcda;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 3, ../sass/helpers/_mixins.scss */
.main .container:before, .main .container:after {
  content: ' ';
  display: table;
}
/* line 7, ../sass/helpers/_mixins.scss */
.main .container:after {
  clear: both;
}
/* line 22, ../sass/components/_containers.scss */
.main .footer-main {
  color: #979393;
  margin-top: 37px;
}
/* line 26, ../sass/components/_containers.scss */
.main .footer-main a {
  color: #979393;
}

/* line 36, ../sass/components/_containers.scss */
.aside-login {
  font-family: Bebas Neue;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 205px;
  line-height: 27px;
}

/* line 43, ../sass/components/_containers.scss */
.aside-login-label {
  color: #6b430b;
  font-size: 19px;
  display: block;
  margin: 5px 0;
}

/* line 50, ../sass/components/_containers.scss */
.aside-login-link {
  color: #6b430b;
  font-family: Corbel;
  font-size: 11px;
  line-height: 15px;
}

/* line 57, ../sass/components/_containers.scss */
.aside-input {
  line-height: 29px;
  height: 29px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #dbdcda;
  width: 131px;
  padding: 0 12px;
}

/* line 66, ../sass/components/_containers.scss */
.aside-login-content {
  background-color: #d7d1b8;
  padding: 5px 10px 10px;
  margin-top: 12px;
}
/* line 71, ../sass/components/_containers.scss */
.aside-login-content .btn {
  font-family: Bebas Neue;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 17px 0 6px;
  display: inline-block;
  float: left;
}
/* line 81, ../sass/components/_containers.scss */
.aside-login-content .btn + .btn {
  margin-left: 3px;
}

/* line 86, ../sass/components/_containers.scss */
.products-card {
  color: #fff;
  font-family: Bebas Neue;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 680px;
  margin-top: 10px;
  padding: 9px;
  border: 1px solid #dbdcda;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 97, ../sass/components/_containers.scss */
.product-detail {
  background-color: #fff;
  font-family: Bebas Neue;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 680px;
  margin-top: 10px;
  padding: 9px;
  border: 1px solid #dbdcda;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 108, ../sass/components/_containers.scss */
.payment-form-table {
  background-color: #fff;
  width: 100%;
  border: 2px solid #dbdcda;
  border-top: 0;
}
/* line 114, ../sass/components/_containers.scss */
.payment-form-table .payment-form-header {
  text-align: center;
  line-height: 97px;
}
/* line 118, ../sass/components/_containers.scss */
.payment-form-table .payment-form-header img {
  vertical-align: middle;
}
/* line 123, ../sass/components/_containers.scss */
.payment-form-table .payment-form-forms {
  height: 211px;
  padding-bottom: 26px;
}
/* line 128, ../sass/components/_containers.scss */
.payment-form-table .payment-form-header, .payment-form-table .payment-form-forms {
  border-left: 2px solid #dbdcda;
}
/* line 131, ../sass/components/_containers.scss */
.payment-form-table .payment-form-header:first-child, .payment-form-table .payment-form-forms:first-child {
  border-left: 0;
}
/* line 136, ../sass/components/_containers.scss */
.payment-form-table span {
  font-family: Bebas Neue;
  font-size: 22px;
  line-height: 36px;
  width: 124px;
  margin: 0 auto;
  display: table;
}

/* line 146, ../sass/components/_containers.scss */
.payment-form-actions {
  height: 58px;
  line-height: 58px;
  padding: 0 15px;
  border-top: 2px solid #dbdcda;
}
/* line 152, ../sass/components/_containers.scss */
.payment-form-actions .btn {
  margin-left: 10px;
}

/* line 3, ../sass/components/_css-properties.scss */
.position-absolute {
  position: absolute;
}

/* line 7, ../sass/components/_css-properties.scss */
.position-relative {
  position: relative;
}

/* line 11, ../sass/components/_css-properties.scss */
.position-fixed {
  position: fixed;
}

/* line 19, ../sass/components/_css-properties.scss */
.normal {
  font-style: normal;
  font-weight: normal;
}

/* line 24, ../sass/components/_css-properties.scss */
.bold {
  font-weight: bold;
}

/* line 28, ../sass/components/_css-properties.scss */
.italic {
  font-style: italic;
}

/* line 32, ../sass/components/_css-properties.scss */
.align-left {
  text-align: left;
}

/* line 36, ../sass/components/_css-properties.scss */
.align-center {
  text-align: center;
}

/* line 40, ../sass/components/_css-properties.scss */
.align-right {
  text-align: right;
}

/* line 44, ../sass/components/_css-properties.scss */
.align-justify {
  text-align: justify;
  font-style: normal;
  font-weight: normal;
}

/* line 50, ../sass/components/_css-properties.scss */
.align-center {
  text-align: center !important;
}

/* line 54, ../sass/components/_css-properties.scss */
.align-right {
  text-align: right;
}

/* line 62, ../sass/components/_css-properties.scss */
.display-block {
  display: block;
}

/* line 66, ../sass/components/_css-properties.scss */
.display-inline {
  display: inline;
}

/* line 70, ../sass/components/_css-properties.scss */
.display-inline-block {
  display: inline-block;
}

/* line 74, ../sass/components/_css-properties.scss */
.display-inline-table {
  display: inline-table;
}

/* line 78, ../sass/components/_css-properties.scss */
.display-list-item {
  display: list-item;
}

/* line 82, ../sass/components/_css-properties.scss */
.display-none {
  display: none;
}

/* line 86, ../sass/components/_css-properties.scss */
.display-table {
  display: table;
}

/* line 94, ../sass/components/_css-properties.scss */
.no-padding {
  padding: 0 !important;
}

/* line 99, ../sass/components/_css-properties.scss */
.margin-center {
  position: relative;
  margin: 0 auto;
}

/* line 104, ../sass/components/_css-properties.scss */
.no-margin-bottom {
  margin-bottom: 0 !important;
}

/* line 109, ../sass/components/_css-properties.scss */
.no-border {
  border: none;
}

/* line 113, ../sass/components/_css-properties.scss */
.no-border-radius-top {
  -webkit-border-radius: 0 0 3px 3px !important;
  -moz-border-radius: 0 0 3px 3px !important;
  -ms-border-radius: 0 0 3px 3px !important;
  -o-border-radius: 0 0 3px 3px !important;
  border-radius: 0 0 3px 3px !important;
}

/* line 117, ../sass/components/_css-properties.scss */
.mid-size {
  font-size: 13px;
}

/* line 122, ../sass/components/_css-properties.scss */
.va-top {
  vertical-align: top;
}

/* line 126, ../sass/components/_css-properties.scss */
.va-baseline {
  vertical-align: baseline;
}

/* line 130, ../sass/components/_css-properties.scss */
.va-bottom {
  vertical-align: bottom;
}

/* line 134, ../sass/components/_css-properties.scss */
.va-inherit {
  vertical-align: inherit;
}

/* line 138, ../sass/components/_css-properties.scss */
.va-initial {
  vertical-align: initial;
}

/* line 142, ../sass/components/_css-properties.scss */
.va-middle {
  vertical-align: middle;
}

/* line 146, ../sass/components/_css-properties.scss */
.va-sub {
  vertical-align: sub;
}

/* line 150, ../sass/components/_css-properties.scss */
.va-super {
  vertical-align: super;
}

/* line 154, ../sass/components/_css-properties.scss */
.va-text-bottom {
  vertical-align: text-bottom;
}

/* line 158, ../sass/components/_css-properties.scss */
.va-text-top {
  vertical-align: text-top;
}

/* line 163, ../sass/components/_css-properties.scss */
.cursor-default {
  cursor: default;
}

/* line 167, ../sass/components/_css-properties.scss */
.cursor-pointer {
  cursor: pointer;
}

/* line 172, ../sass/components/_css-properties.scss */
.no-border {
  border: none !important;
}

/* line 176, ../sass/components/_css-properties.scss */
.border-left {
  border-left-width: 1px !important;
}

/* line 180, ../sass/components/_css-properties.scss */
.border-right {
  border-right-width: 1px !important;
}

/* line 185, ../sass/components/_css-properties.scss */
.no-box-shadow {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

/* line 190, ../sass/components/_css-properties.scss */
.radius-left {
  -webkit-border-radius: 3px 0 0 3px !important;
  -moz-border-radius: 3px 0 0 3px !important;
  -ms-border-radius: 3px 0 0 3px !important;
  -o-border-radius: 3px 0 0 3px !important;
  border-radius: 3px 0 0 3px !important;
}

/* line 194, ../sass/components/_css-properties.scss */
.radius-top {
  -webkit-border-radius: 3px 3px 0 0 !important;
  -moz-border-radius: 3px 3px 0 0 !important;
  -ms-border-radius: 3px 3px 0 0 !important;
  -o-border-radius: 3px 3px 0 0 !important;
  border-radius: 3px 3px 0 0 !important;
}

/* line 198, ../sass/components/_css-properties.scss */
.radius-right {
  -webkit-border-radius: 0 3px 3px 0 !important;
  -moz-border-radius: 0 3px 3px 0 !important;
  -ms-border-radius: 0 3px 3px 0 !important;
  -o-border-radius: 0 3px 3px 0 !important;
  border-radius: 0 3px 3px 0 !important;
}

/* line 202, ../sass/components/_css-properties.scss */
.radius-bottom {
  -webkit-border-radius: 0 0 3px 3px !important;
  -moz-border-radius: 0 0 3px 3px !important;
  -ms-border-radius: 0 0 3px 3px !important;
  -o-border-radius: 0 0 3px 3px !important;
  border-radius: 0 0 3px 3px !important;
}

/* line 206, ../sass/components/_css-properties.scss */
.radius-all {
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -ms-border-radius: 3px !important;
  -o-border-radius: 3px !important;
  border-radius: 3px !important;
}

/* line 1, ../sass/components/_header.scss */
.header {
  background-color: #ae0405;
  -webkit-box-shadow: 0 -67px 136px -55px black inset, 0 -1px #55090a inset;
  -moz-box-shadow: 0 -67px 136px -55px black inset, 0 -1px #55090a inset;
  box-shadow: 0 -67px 136px -55px black inset, 0 -1px #55090a inset;
  border-bottom: 2px solid #ae0405;
}

/* line 7, ../sass/components/_header.scss */
.header-inner {
  width: 991px;
  height: 161px;
  margin: 0 auto;
}
/* line 3, ../sass/helpers/_mixins.scss */
.header-inner:before, .header-inner:after {
  content: ' ';
  display: table;
}
/* line 7, ../sass/helpers/_mixins.scss */
.header-inner:after {
  clear: both;
}

/* line 14, ../sass/components/_header.scss */
.header-right {
  float: right;
  text-align: right;
}
/* line 3, ../sass/helpers/_mixins.scss */
.header-right:before, .header-right:after {
  content: ' ';
  display: table;
}
/* line 7, ../sass/helpers/_mixins.scss */
.header-right:after {
  clear: both;
}

/* line 22, ../sass/components/_header.scss */
.social-networks > li {
  display: inline-block;
  width: 32px;
  height: 32px;
}
/* line 27, ../sass/components/_header.scss */
.social-networks > li img {
  width: 32px;
  height: 32px;
}

/* line 34, ../sass/components/_header.scss */
.header-search {
  background-color: #fff;
  line-height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 278px;
  height: 40px;
  padding: 0 14px;
  position: relative;
  top: 44px;
}
/* line 44, ../sass/components/_header.scss */
.header-search input[type="search"] {
  outline: none;
  background-color: #fff;
  border: none;
  width: 100%;
  height: 35px;
  line-height: 35px;
}

/* line 55, ../sass/components/_header.scss */
.aside-login-header {
  color: #fff;
  background-color: #6b430b;
  line-height: 56px;
  height: 56px;
  font-size: 36px;
  text-align: center;
  display: inline-block;
  width: 100%;
}

/* line 1, ../sass/components/_menu.scss */
.menu-top-wraper {
  color: #fff;
  background-color: #55090a;
}

/* line 6, ../sass/components/_menu.scss */
.menu-top {
  line-height: 75px;
  height: 75px;
  width: 991px;
  margin: 0 auto;
}
/* line 3, ../sass/helpers/_mixins.scss */
.menu-top:before, .menu-top:after {
  content: ' ';
  display: table;
}
/* line 7, ../sass/helpers/_mixins.scss */
.menu-top:after {
  clear: both;
}
/* line 13, ../sass/components/_menu.scss */
.menu-top > li {
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
}
/* line 18, ../sass/components/_menu.scss */
.menu-top > li > a {
  color: #fff;
  margin: 0 3px;
  padding: 0 14px;
  display: inline-block;
}
/* line 24, ../sass/components/_menu.scss */
.menu-top > li > a:hover {
  -webkit-box-shadow: 0 0 4px black;
  -moz-box-shadow: 0 0 4px black;
  box-shadow: 0 0 4px black;
}

/* line 31, ../sass/components/_menu.scss */
.login {
  float: right;
  font-family: Bebas Neue;
  font-size: 24px;
  position: relative;
  top: 16px;
  right: 29px;
  color: #fff;
}

/* line 41, ../sass/components/_menu.scss */
.footer-menu {
  margin-bottom: 31px;
}
/* line 44, ../sass/components/_menu.scss */
.footer-menu > li {
  display: inline-block;
  border-right: 1px solid #979393;
  font-size: 14px;
  font-weight: bold;
  padding-right: 6px;
}

/* line 54, ../sass/components/_menu.scss */
.themes-bar {
  background-color: #e2d7aa;
  -webkit-box-shadow: 0 0 6px #b59e3e inset;
  -moz-box-shadow: 0 0 6px #b59e3e inset;
  box-shadow: 0 0 6px #b59e3e inset;
  line-height: 58px;
  height: 58px;
  padding: 0 21px;
}
/* line 3, ../sass/helpers/_mixins.scss */
.themes-bar:before, .themes-bar:after {
  content: ' ';
  display: table;
}
/* line 7, ../sass/helpers/_mixins.scss */
.themes-bar:after {
  clear: both;
}
/* line 62, ../sass/components/_menu.scss */
.themes-bar .white-mug73x67 {
  float: left;
  position: relative;
  bottom: 11px;
}
/* line 68, ../sass/components/_menu.scss */
.themes-bar .theme-list {
  color: #6b430b;
  font-size: 30px;
  font-family: Bebas Neue;
  display: inline-block;
  text-shadow: 0 1px #fff;
}
/* line 75, ../sass/components/_menu.scss */
.themes-bar .theme-list::after {
  content: "|";
}
/* line 79, ../sass/components/_menu.scss */
.themes-bar .theme-list .theme-link {
  color: #6b430b;
  display: inline-block;
  padding: 0 8px;
}

/* line 87, ../sass/components/_menu.scss */
.shopping-cart {
  color: #fff;
  background-color: #ae0405;
  font-family: Bebas Neue;
  font-size: 19px;
  -webkit-box-shadow: 0 -30px 57px -31px black inset, 0 -1px #55090a inset;
  -moz-box-shadow: 0 -30px 57px -31px black inset, 0 -1px #55090a inset;
  box-shadow: 0 -30px 57px -31px black inset, 0 -1px #55090a inset;
  position: fixed;
  right: -72px;
  top: 287px;
  padding: 4px 12px;
  border-radius: 6px;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
/* line 100, ../sass/components/_menu.scss */
.shopping-cart:hover {
  right: -3px;
}
/* line 104, ../sass/components/_menu.scss */
.shopping-cart img {
  width: 37px;
  vertical-align: middle;
  margin-right: 9px;
}
/* line 110, ../sass/components/_menu.scss */
.shopping-cart a {
  color: #fff;
}

/* line 5, ../sass/components/_products.scss */
.product-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 163px;
  display: inline-block;
  margin: 6px 6px 26px;
}

/* line 12, ../sass/components/_products.scss */
.product {
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 216px;
  padding: 8px;
  border: 2px solid #dbdcda;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

/* line 22, ../sass/components/_products.scss */
.product-img {
  width: 149px;
  height: 147px;
  cursor: pointer;
}

/* line 28, ../sass/components/_products.scss */
.footer-product {
  padding-top: 7px;
  border-top: 4px solid #e9e3e3;
  position: relative;
  top: 7px;
}

/* line 35, ../sass/components/_products.scss */
.link-product-detail {
  color: #B6B6B6;
  font-family: Bebas Neue;
  font-size: 20px;
  vertical-align: middle;
}

/* line 42, ../sass/components/_products.scss */
.mugs-name {
  color: #97938D;
  font-family: Corbel;
  font-size: 18px;
  margin-bottom: 14px;
}

/* line 51, ../sass/components/_products.scss */
.product-card {
  margin: 4px 0;
  display: inline-block;
}
/* line 55, ../sass/components/_products.scss */
.product-card tr .pc-header, .product-card tr .pc-product {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5px;
  border: 1px solid #dbdcda;
}
/* line 60, ../sass/components/_products.scss */
.product-card tr .pc-header:first-child, .product-card tr .pc-product:first-child {
  width: 396px;
}
/* line 64, ../sass/components/_products.scss */
.product-card tr .pc-header:nth-child(2), .product-card tr .pc-product:nth-child(2) {
  width: 151px;
  text-align: center;
}
/* line 69, ../sass/components/_products.scss */
.product-card tr .pc-header:last-child, .product-card tr .pc-product:last-child {
  width: 112px;
  text-align: center;
}

/* line 76, ../sass/components/_products.scss */
.pc-header {
  background-color: #c1ab89;
  text-align: left;
  line-height: 30px;
}

/* line 82, ../sass/components/_products.scss */
.pc-product {
  color: #736D6D;
  background-color: #fff;
  line-height: 33px;
}
/* line 87, ../sass/components/_products.scss */
.pc-product .product-img {
  width: 92px;
  height: 90px;
  -webkit-box-shadow: 0 4px white, 0 7px #e9e3e3;
  -moz-box-shadow: 0 4px white, 0 7px #e9e3e3;
  box-shadow: 0 4px white, 0 7px #e9e3e3;
}

/* line 94, ../sass/components/_products.scss */
.n-of-mugs {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 35px;
  height: 22px;
  border: 1px solid #dbdcda;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 103, ../sass/components/_products.scss */
.pc-total-price {
  color: #0B0A0A;
  font-size: 23px;
  text-align: center;
  margin: 14px 0;
}

/* line 110, ../sass/components/_products.scss */
.products-profile {
  color: #807F7B;
  font-size: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 212px;
  padding: 9px;
  margin-top: 10px;
  border: 1px solid #dbdcda;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 121, ../sass/components/_products.scss */
.pc-profile-user {
  margin-bottom: 25px;
}

/* line 125, ../sass/components/_products.scss */
.pc-profile-address {
  margin-bottom: 5px;
}

/* line 129, ../sass/components/_products.scss */
.pc-profile {
  height: 112px;
  width: 96px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  border-radius: 9px;
  -webkit-box-shadow: 2px 2px 4px #c1c1c1;
  -moz-box-shadow: 2px 2px 4px #c1c1c1;
  box-shadow: 2px 2px 4px #c1c1c1;
}

/* line 136, ../sass/components/_products.scss */
.pc-profile-info {
  width: 87px;
  display: inline-block;
  vertical-align: 56px;
  font-size: 10px;
  margin-left: 4px;
}

/* line 144, ../sass/components/_products.scss */
.pc-profile-info .pc-profile-login, .pc-address {
  color: #928860;
  font-size: 14px;
  border-bottom: 1px solid #928860;
  margin-bottom: 5px;
  display: inline-block;
}

/* line 153, ../sass/components/_products.scss */
.pd-detail {
  font-family: "Lucida Sans";
  font-size: 18px;
  margin-left: 9px;
  vertical-align: 2px;
}

/* line 160, ../sass/components/_products.scss */
.photo-detail {
  width: 329px;
  height: 351px;
  border: 1px solid #dbdcda;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 167, ../sass/components/_products.scss */
.aside-products-detail {
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 212px;
  padding: 9px;
  margin-top: 10px;
  border: 1px solid #dbdcda;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 177, ../sass/components/_products.scss */
.detail-picture {
  width: 192px;
  height: 204px;
  text-align: center;
}

/* line 183, ../sass/components/_products.scss */
.detail-pictures {
  border-top: 2px solid #dbdcda;
}
/* line 185, ../sass/components/_products.scss */
.detail-pictures li {
  display: inline-block;
  border-right: 1px solid #dbdcda;
}
/* line 189, ../sass/components/_products.scss */
.detail-pictures li:last-child {
  border-right: 0;
}

/* line 195, ../sass/components/_products.scss */
.detail-picture-mini {
  width: 54px;
  height: 50px;
  margin-right: 6px;
}

/* line 1, ../sass/components/_register-form.scss */
.register-form {
  background-color: #fff;
  border: 1px solid #dbdcda;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 683px;
  margin: 12px auto 0;
  padding: 5px 46px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 10, ../sass/components/_register-form.scss */
.register-form .centered-buttons {
  margin: 31px 0 18px;
  border-top: 1px solid #dbdcda;
  padding-top: 15px;
}

/* line 17, ../sass/components/_register-form.scss */
.register-group {
  line-height: 39px;
  margin: 10px 0;
}
/* line 3, ../sass/helpers/_mixins.scss */
.register-group:before, .register-group:after {
  content: ' ';
  display: table;
}
/* line 7, ../sass/helpers/_mixins.scss */
.register-group:after {
  clear: both;
}

/* line 23, ../sass/components/_register-form.scss */
.input-register {
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 418px;
  height: 35px;
  line-height: 35px;
  padding: 0 12px;
  border: 1px solid #dbdcda;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 33, ../sass/components/_register-form.scss */
.input-register.picture {
  width: 310px;
  margin-right: 14px;
}

/* line 39, ../sass/components/_register-form.scss */
.label-register {
  font-family: Bebas Neue;
  font-size: 23px;
  color: #333333;
  width: 135px;
  text-align: right;
  display: inline-block;
}

/* line 48, ../sass/components/_register-form.scss */
.register-picture {
  width: 418px;
  text-align: center;
  display: inline-block;
  vertical-align: text-top;
}

/* line 55, ../sass/components/_register-form.scss */
.register-photo {
  width: 191px;
  height: 226px;
  background-color: #f6f8eb;
  border: 1px solid #dbdcda;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 1, ../sass/components/_titles.scss */
.section-title {
  background-color: #c1ab89;
  color: #FFFEFE;
  font-family: Bebas Neue;
  font-size: 30px;
  text-align: center;
  line-height: 58px;
  height: 58px;
}

/* line 1, ../sass/components/_white-mug.scss */
.white-mug73x67 {
  width: 73px;
  height: 67px;
}
